/* Footer.css */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 10px 20px;
  background-color: #10b0e6;
  color: #0e0e16;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}
