/* Footer.css */
.footer-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}
