/* HighScoreCard.css */
.high-score-title-box {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  background: linear-gradient(145deg, #222, #333);
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-family: "VT323", monospace;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.high-score-title-box h2 {
  margin: 0;
  font-size: 2em;
}

.high-score-card {
  width: 100%;
  padding: 20px;
  background: linear-gradient(145deg, #5b85aa, #00b3e3);
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-family: "VT323", monospace;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.high-score-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.high-score-card h3 {
  font-size: 2em;
  margin: 0;
  color: #f2f2f2;
}

.high-score-card .score {
  background: #f2f2f2;
  color: #00b3e3;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1.8em;
  margin-left: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
