/* App.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #001f54;
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
}

.auth-buttons a:hover {
  text-decoration: underline;
}

.logout-button {
  padding: 10px 20px;
  background-color: #034078; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
}

.logout-button:hover {
  background-color: #1282a2; /* Background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.logout-button:active {
  background-color: #1e352f; /* Background color when the button is clicked */
}
